@media screen and (max-height: 800px),
    screen and (max-width: 850px) {
    #skills{
        display: none;
    }
    .hidden{
        display: block;
    }
    #buttonToggleList{
        display: none;
    }

  
}


