@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

#project__main {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Contact */
.name input {
  border-radius: 150px;
}
.email input {
  border-radius: 150px;
}

.container {
  height: auto;
  width: 50%;
  font-family: "Cabin", sans-serif;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

form {
  font-family: "Cabin", sans-serif;
  padding: 0;
  width: 90%;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.feedback-input {
  color: #000;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0;
  margin-right: 0;
  line-height: 22px;
  background-color: none;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #8cffb1;
  border-top: none;
  border-left: none;
  border-right: none;
}

.feedback-input:focus {
  box-shadow: 0;
  color: #000000;
  transition: 0.4s ease;
  outline: none;
  border-bottom: 2px solid black;
  padding: 13px 13px 13px 13px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

#button-blue {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #22a7f0;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -4px;
  font-weight: 700;
  transition: 0.3s ease;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  background: #22a7f0;
}

.submit:hover {
  color: #22a7f0;
}

/* Timeline */
#timeline {
  box-sizing: border-box;
  margin-top: 10rem;
}

header h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}

header p {
  text-align: center;
  margin-bottom: 0;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213, 213, 213);
  background: -moz-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #f0f0f0;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #f0f0f0;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #f0f0f0;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #d3ffe1;
  display: inline-block;
  padding: 8px;
  color: black;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254, 254, 254);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media (min-width: 9999px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}
.desc {
  border-style: solid;
  border-radius: 5px;
}
/* 
@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
} */

/* Skills */
.hidden {
  display: none;
}

#skills-list {
  margin: 1rem;
  padding: 1rem;
  /* background-color: rgb(240, 235, 215); */
  border-radius: 1rem;
}

#buttonToggleList {
  margin-top: 1rem;
  padding: 3px;

  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
  border-color: #ffffff;
  :hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
}

.skill-list-tag {
  display: inline-block;
  margin: 10px;
  padding: 5px 8px;
  border-radius: 5px;
  border-color: rgb(235, 235, 235);
  border-style: solid;
  box-shadow: 5px 5px 5px #8cffb1;
  color: rgb(247, 247, 247);
  /* text-shadow: 1px 1px 2px rgb(192, 248, 255); */
}

.skill-list-tag:hover {
  border-color: #8cffb1;
}

/* Cards */
.flip-card-container {
  border-radius: 15px;
  background-color: #d3ffe1;
  position: relative;
  height: 385px;
  width: 345px;
  /* padding: 10px; */
  margin: 10px;
  border-style: solid;
  box-shadow: 5px 5px 5px #77542c;
  text-underline-offset: 3px;
}
.flip-card {
  background-color: transparent;
  width: 345px;
  height: 180px;
  perspective: 1000px;
  /* margin: 20px; */
  margin: 20px -0.5px;
  border-style: solid;
  border-width: 1px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.image-container {
  width: 345px;
  height: 180px;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 15px;
}
.flip-card-front {
  background-color: #bcbfc0;
  color: rgb(0, 0, 0);
  width: 255px;
  height: 180px;
}
.flip-card-back {
  background-color: rgb(215, 242, 255);
  color: rgb(0, 0, 0);

  transform: rotateY(180deg);
}
.flip-card-back-text {
  padding: 10px;
  margin: 10px;
  text-align: left;
  color: #000000;
}

/* radial menu */

#skills {
  height: 92vh;
  position: relative;
  list-style: none;
  font-size: 200%;
  color: white;
}
.menu-button {
  opacity: 0;
  z-index: -1;
}
.menu-button {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50.5%;
  top: 75%;
  margin: -75px 0 0 -75px;
  border-radius: 3px;
  background: rgb(70, 70, 70);
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
  line-height: 150px;
  color: #ffffff;
  box-shadow: 2px 2px 5px #b48631;
}
#skill:not(:target) > div:first-of-type > ul:first-of-type > a:first-of-type,
#skill:target > div:first-of-type > ul:first-of-type > a:last-of-type {
  opacity: 1;
  z-index: 1;
}
#skill:not(:target) > div:first-of-type > ul:first-of-type > .icon-plus:before,
#skill:target > div:first-of-type > ul:first-of-type > .icon-minus:before {
  opacity: 1;
}
.skill-item {
  width: 120px;
  height: 120px;
  position: absolute;
  left: 50%;
  top: 75%;
  line-height: 5px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  background-color: rgb(238, 250, 227);
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: -2;
  transition: 0.5s;
  box-shadow: 2px 2px 5px #b48631;
}
.skill-item:hover {
  opacity: 0.5;
  box-shadow: 0 5px 10px black;
}
.skill-item a {
  color: #fff;
  position: relative;
  top: 20%;
  left: 0;
  text-decoration: none;
}

/* Target skill */
/* Right skills tree */
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(15) {
  transform: rotate(66deg) translateY(-410px) rotate(-66deg);
  transition-delay: 2.4s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(14) {
  transform: rotate(85deg) translateY(-325px) rotate(-85deg);
  transition-delay: 2.1s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(13) {
  transform: rotate(60deg) translateY(-267px) rotate(-60deg);
  transition-delay: 2.1s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(12) {
  transform: rotate(90deg) translateY(-175px) rotate(-90deg);
  transition-delay: 1.8s;
}

/* Middle skills tree */
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(11) {
  transform: rotate(-20deg) translateY(-455px) rotate(20deg);
  transition-delay: 1.5s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(10) {
  transform: translateY(-455px);
  transition-delay: 1.5s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(9) {
  transform: rotate(20deg) translateY(-455px) rotate(-20deg);
  transition-delay: 1.5s;
}

#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(8) {
  transform: rotate(-15deg) translateY(-320px) rotate(15deg);
  transition-delay: 1.2s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(7) {
  transform: rotate(15deg) translateY(-320px) rotate(-15deg);
  transition-delay: 1.2s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(6) {
  transform: translateY(-175px);
  transition-delay: 0.9s;
}

/* Left skills tree */
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(5) {
  transform: rotate(-85deg) translateY(-325px) rotate(85deg);
  transition-delay: 0.6s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(4) {
  transform: rotate(-60deg) translateY(-267px) rotate(60deg);
  transition-delay: 0.6s;
}
#skill:target
  > div:first-of-type
  > ul:first-of-type
  > .skill-item:nth-child(3) {
  transform: rotate(-90deg) translateY(-175px) rotate(90deg);
  transition-delay: 0.3s;
}

/* ICONS */
.icon-java {
  display: inline-block;
  width: 130px; /* Adjust size as needed */
  height: 130px;
  background-image: url("./assets/Java-Logo.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  right: 5%;
}
.icon-csharp {
  display: inline-block;
  width: 65px; /* Adjust size as needed */
  height: 65px;
  background-image: url("./assets/c-sharpicon.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
}
.icon-js {
  display: inline-block;
  width: 90px; /* Adjust size as needed */
  height: 90px;
  background-image: url("./assets/JavaScript-Symbol.png"); /* Path to home icon */
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  bottom: 5%;
  left: 13%;
}
.icon-html {
  display: inline-block;
  width: 90px; /* Adjust size as needed */
  height: 90px;
  background-image: url("./assets/icon-html.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  bottom: 5%;
  left: 13%;
}
.icon-css {
  display: inline-block;
  width: 90px; /* Adjust size as needed */
  height: 90px;
  background-image: url("./assets/icon-css.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  bottom: 5%;
  left: 13%;
}
.icon-spring {
  display: inline-block;
  width: 125px; /* Adjust size as needed */
  height: 125px;
  background-image: url("./assets/icon-spring.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: -2.5%;
}
.icon-spring-data {
  display: inline-block;
  width: 115px; /* Adjust size as needed */
  height: 115px;
  background-image: url("./assets/icon-spring-data.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  right: -1.5%;
  top: 5.5%;
}
.icon-sql {
  display: inline-block;
  width: 75px; /* Adjust size as needed */
  height: 75px;
  background-image: url("./assets/icon-sql.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  left: 18%;
}
.icon-mysql {
  display: inline-block;
  width: 85px; /* Adjust size as needed */
  height: 85px;
  background-image: url("./assets/icon-mysql.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: -5.5%;
  left: 18%;
}
.icon-mssql {
  display: inline-block;
  width: 85px; /* Adjust size as needed */
  height: 85px;
  background-image: url("./assets/icon-mssql.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: -5.5%;
  left: 16%;
}
.icon-spring-security {
  display: inline-block;
  width: 100px; /* Adjust size as needed */
  height: 100px;
  background-image: url("./assets/icon-spring-security.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: 15.5%;
  left: 9%;
}
.icon-hibernate {
  display: inline-block;
  width: 85px; /* Adjust size as needed */
  height: 85px;
  background-image: url("./assets/icon-hibernate.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  left: 16%;
}
.icon-jakarataee {
  display: inline-block;
  width: 85px; /* Adjust size as needed */
  height: 85px;
  background-image: url("./assets/icon-jakartaee.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: -5.5%;
  left: 14%;
}
.icon-react {
  display: inline-block;
  width: 85px; /* Adjust size as needed */
  height: 85px;
  background-image: url("./assets/icon-react.png"); /* Path to home icon */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  top: -5.5%;
  left: 22%;
}

/* General styling */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: "Ubuntu", sans-serif;
  
  font-weight: 500;
  font-style: normal; */
  color: rgb(16, 17, 17);
}

h1 {
  color: rgb(245, 245, 245);
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(
    to left,
    rgb(182, 244, 146),
    rgb(51, 139, 147)
  );
}

p {
  color: rgb(85, 85, 85);
}

a,
.btn {
  transition: all 300ms ease;
}

/* Desktop menu */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  list-style: none;
  gap: 40px;
  font-size: 28px;
}

.nav-links li a {
  color: rgb(240, 240, 240);
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#desktop-nav {
  background-color: #555555;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(255, 255, 208);
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

/* override styling for a */
.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 500px;
}

/* SECTIONS */

section {
  padding-top: 20px;
  margin-top: 20px;
  margin: 0 10rem;
  box-sizing: border-box;
  text-underline-offset: 10px;
}

#skill {
  display: flexbox;
  /* align-items: center; Vertical alignment */
  /* padding: 20px;
  border: 1px;
  margin: 20px; */
}

/* PROFILE SECTION */

.section__text {
  align-self: center;
  text-align: center;
  margin: 3rem 3rem;
}

#about {
  justify-content: center;
  height: 650px;
  display: flexbox;
  overflow: hidden;
  margin-top: 5rem;
  color: white;
}

.section__test__main {
  font-size: 45px;
  position: relative;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 30px;
  margin: 25px;
  color: white;
}

.section__text__p2 {
  font-size: 20px;
  color: white;
}

#socials-container {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-content: center;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
  margin: 0 1rem;
}

.section-styling {
  margin: 15rem 20rem;
}
